/* ==========================================================================
   Project-specific styles
   ========================================================================== */

/*
@lost flexbox flex;
@lost gutter 1.618rem;

$bg: #333;

body {
	lost-center: 1024px 20px;
}

.grid {
	lost-center: 100%;
	height: 600px;

	& > article {
		background: $bg;
		@media (min-width: 600px) {
			lost-waffle: 1/3;
			padding: 20px;
		}

		> h1 {
			font: {
				family: serif;
				size: 2rem;
			}
		}
	}
}
*/