{
	"extends": "stylelint-config-standard",
	"rules": {
		"string-quotes": null,
		"at-rule-empty-line-before": null,
		"indentation": "tab",
		"function-whitespace-after": null,
		"selector-pseudo-element-colon-notation": "single"
	}
}
