{
	"extends": "stylelint-config-standard",
	"rules": {
		"at-rule-empty-line-before": null,
		"declaration-empty-line-before": null,
		"function-whitespace-after": null,
		"indentation": "tab",
		"property-no-unknown": [true, {
			"ignoreProperties": ["/^lost-/"]
		}],
		"selector-pseudo-element-colon-notation": "single",
		"string-quotes": null
	}
}
