/* ==========================================================================
   Defaults
   ========================================================================== */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, table {
	margin: 0 0 1rem 0;
}

ul {
	padding-left: 1.5rem;
}

li {
	margin: 0 0 0.25rem 0;
}
