/* ==========================================================================
   Project-specific styles
   ========================================================================== */

@import 'normalize.css';
@import 'defaults.css';
@import 'helpers.css';

@lost flexbox flex;

/* Media queries */

$mobile: (max-width: 540px);
$mobileTablet: (max-width: 960px);
$tablet: (min-width: 541px) and (max-width: 960px);
$tabletDesktop: (min-width: 541px);
$desktop: (min-width: 961px);

/* Mixins */

@define-mixin responsive $properties, $m, $t, $d {
	@media $mobile {
		@each $property in $(properties) {
			$(property): $m;
		}
	}
	@media $tablet {
		@each $property in $(properties) {
			$(property): $t;
		}
	}
	@media $desktop {
		@each $property in $(properties) {
			$(property): $d;
		}
	}
}

/* Spacing defaults */

@define-mixin small-spacing $properties {
	@mixin responsive $(properties), 0.5rem, 0.75rem, 1rem;
}

@define-mixin medium-spacing $properties {
	@mixin responsive $(properties), 0.75rem, 1rem, 1.25rem;
}

@define-mixin large-spacing $properties {
	@mixin responsive $(properties), 1rem, 1.5rem, 2rem;
}
