{% extends "base.twig" %}

{% block content %}
	<main>
		<h1>{{ site.title }}</h1>
		{% for post in posts %}
			<article>
				<h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
				{{ post.content }}
			</article>
		{% endfor %}
	</main>
{% endblock %}
