{% extends "base.twig" %}

{% block content %}
	<main>
		<h1>Page not found</h1>
		<p>There is no page at this address.</p>
		<p>You can return to the <a href="{{ site.url }}">homepage</a>, or use the main navigation to find the content you were looking for.</p>
		<p>Or feel free to <a href="{{ site.url }}/contact/">contact us</a> to report the problem or ask us a question.</p>
	</main>
{% endblock %}
