/* ==========================================================================
   Project-specific styles
   ========================================================================== */

@import 'normalize.css';
@import 'defaults.css';
@import 'helpers.css';

/* LostGrid defaults */

@lost flexbox flex;
@lost gutter 1rem;

/* Media queries */

$mobile: (max-width: 540px);
$mobileTablet: (max-width: 960px);
$tablet: (min-width: 541px) and (max-width: 960px);
$tabletDesktop: (min-width: 541px);
$desktop: (min-width: 961px);

/* Mixins */

@define-mixin batch $properties, $value {
	@each $property in $(properties) {
		$(property): $value;
	}
}

@define-mixin responsive $properties, $m, $t, $d {
	@media $mobile {
		@mixin batch $properties, $m;
	}
	@media $tablet {
		@mixin batch $properties, $t;
	}
	@media $desktop {
		@mixin batch $properties, $d;
	}
}

@define-mixin mobile $properties, $value {
	@media $mobile {
		@mixin batch $properties, $value;
	}
}

@define-mixin mobileTablet $properties, $value {
	@media $mobileTablet {
		@mixin batch $properties, $value;
	}
}

@define-mixin tablet $properties, $value {
	@media $tablet {
		@mixin batch $properties, $value;
	}
}

@define-mixin tabletDesktop $properties, $value {
	@media $tabletDesktop {
		@mixin batch $properties, $value;
	}
}

@define-mixin desktop $properties, $value {
	@media $desktop {
		@mixin batch $properties, $value;
	}
}

/* Tags */

html {
	@mixin responsive (font-size), 0.75rem, 0.875rem, 1rem;
}
